<%- include('../partials/_head.ejs') %>

    <body class="p-6">
        <!-- Navigation -->
        <%- include('../partials/_nav.ejs') %>
            <!-- End Navigation -->
            <!-- Blog Detail -->
            <div class="relative flex flex-col justify-center overflow-hidden">
                <% if (typeof message !='undefined' ) { %>
                    <div role="alert" class="alert alert-<%= message.type %> w-full p-6 m-auto lg:max-w-xl text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none"
                            viewBox="0 0 24 24">
                            <% if (message.type=='error' ) { %>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                <% } else if (message.type=='success' ) { %>
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    <% } else if (message.type=='warning' ) { %>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                        <% } %>
                        </svg>
                        <span>
                            <%= message.text %>
                        </span>
                    </div>

                    <% } %>
                        <div class="w-full p-6 m-auto bg-base-200 rounded-box mt-16 lg:max-w-xl text-center">
                            <h1 class="text-3xl font-semibold text-center">Login</h1>
                            <form method="post" class="space-y-4 my-8">
                                <div>
                                    <input type="email" placeholder="Email Address" name="email"
                                        class="w-full input input-bordered rounded-box" />
                                </div>
                                <div>
                                    <input type="password" placeholder="Enter Password" name="password"
                                        class="w-full input input-bordered rounded-box" />
                                </div>
                                <div>
                                    <button class="btn btn-block btn-active btn-neutral rounded-box">Login</button>
                                </div>
                            </form>
                            <span>
                                Don't have an account?
                                <a href="/auth/register"
                                    class="text-blue-600 hover:text-blue-800 hover:underline">Register</a></span>
                        </div>
            </div>
            <%- include('../partials/_footer.ejs') %>
    </body>

    </html>