<%- include('../partials/_head.ejs') %>

    <body class="p-6">
        <!-- Navigation -->
        <%- include('../partials/_nav.ejs') %>
            <!-- End Navigation -->
            <!-- Blog Cards -->

            <div class="flex flex-wrap justify-center items-center container">
                <div class="rounded-box shadow-lg my-4 mx-2">
                    <div class="card w-96 bg-primary text-primary-content">
                        <div class="card-body w-96 space-y-6 ">
                            <div class="flex flex-wrap space-x-6 items-center">
                                <div>
                                    <span class="text-9xl font-bebas">
                                        <%= counts.blog %>
                                    </span>
                                </div>
                                <div class="space-y-7">
                                    <div class="flex content-end space-x-5 items-center ">
                                        <i class="fa-solid fa-blog fa-2xl"></i>
                                        <h2 class="card-title text-4xl">Blogs</h2>
                                    </div>
                                    <div class="card-actions justify-start">
                                        <a href="/admin/blog_list" class="btn btn-block">See all & manage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded-box shadow-lg my-4 mx-2">
                    <div class="card w-96 bg-primary text-primary-content">
                        <div class="card-body w-96 space-y-6 ">
                            <div class="flex flex-wrap space-x-6 items-center">
                                <div>
                                    <span class="text-9xl font-bebas">
                                        <%= counts.user %>
                                    </span>
                                </div>
                                <div class="space-y-7">
                                    <div class="flex content-end space-x-5 items-center ">
                                        <i class="fa-solid fa-user fa-2xl"></i>
                                        <h2 class="card-title text-4xl">Users</h2>
                                    </div>
                                    <div class="card-actions justify-start">
                                        <a href="/admin/user_list" class="btn btn-block">See all & manage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded-box shadow-lg my-4 mx-2">
                    <div class="card w-96 bg-primary text-primary-content">
                        <div class="card-body w-96 space-y-6 ">
                            <div class="flex flex-wrap space-x-6 items-center">
                                <div>
                                    <span class="text-9xl font-bebas">
                                        <%= counts.author %>
                                    </span>
                                </div>
                                <div class="space-y-7">
                                    <div class="flex content-end space-x-5 items-center ">
                                        <i class="fa-solid fa-pen-nib fa-2xl"></i>
                                        <h2 class="card-title text-4xl">Authors</h2>
                                    </div>
                                    <div class="card-actions justify-start">
                                        <a href="/admin/author_list" class="btn btn-block">See all & manage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded-box shadow-lg my-4 mx-2">
                    <div class="card w-96 bg-primary text-primary-content">
                        <div class="card-body w-96 space-y-6 ">
                            <div class="flex flex-wrap space-x-6 items-center">
                                <div>
                                    <span class="text-9xl font-bebas">
                                        <%= counts.authorApplication %>
                                    </span>
                                </div>
                                <div class="space-y-7">
                                    <div class="flex content-end space-x-5 items-center ">
                                        <i class="fa-solid fa-pen-nib fa-2xl"></i>
                                        <h2 class="card-title text-4xl">Author Applications</h2>
                                    </div>
                                    <div class="card-actions justify-start">
                                        <a href="/admin/author_application_list" class="btn btn-block">See all &
                                            manage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('../partials/_footer.ejs') %>

    </body>

    </html>