<%- include('../partials/_head.ejs') %>

    <body class="p-6">
        <!-- Navigation -->
        <%- include('../partials/_nav.ejs') %>
            <!-- End Navigation -->
            <!-- Blog Cards -->
            <div class="flex flex-wrap justify-center items-center container">
                <div class="overflow-x-auto w-full">
                    <table class="table table-zebra">

                        <% if (typeof message !='undefined' ) { %>
                            <div role="alert"
                                class="alert alert-<%= message.type %> w-full p-6 m-auto lg:max-w-xl text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6"
                                    fill="none" viewBox="0 0 24 24">
                                    <% if (message.type=='error' ) { %>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                        <% } else if (message.type=='success' ) { %>
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                            <% } else if (message.type=='warning' ) { %>
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                                <% } %>
                                </svg>
                                <span>
                                    <%= message.text %>
                                </span>
                            </div>
                            <% } %>
                                <!-- head -->
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Photo</th>
                                        <th>Name</th>
                                        <th>E-mail</th>
                                        <th>Date of registration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- row 1 -->
                                    <% users.forEach(user=> { %>
                                        <tr>
                                            <th>1</th>
                                            <td class="max-w-[125px]"><img class="rounded-full max-w-[50px]"
                                                    src="/uploads/<%= user.photo %>" alt=""></td>
                                            <td><a href="/author_profile/<%= user._id %>/<%= user.slug %>"
                                                    class="link link-info">
                                                    <%= user.name %>
                                                </a></td>
                                            <td>
                                                <%= user.email %>
                                            </td>
                                            <td>
                                                <%= user.dataCreated.toString().substring(4,15) %>
                                            </td>
                                            <% if (userId !=user._id) { %>
                                                <td><a href="send-mail_user/<%= user._id %>"
                                                        class="underline link-success">Send mail</a></td>
                                                <td><a href="delete_user/<%= user._id %>"
                                                        class="underline link-error">Delete</a></td>
                                                        <% if (user.suspend) { %>
                                                            <td><a href="remove_suspend_user/<%= user._id %>"
                                                                    class="underline link-warning">Remove suspend</a></td>
                                                            <% } else { %>
                                                                <td><a href="suspend_user/<%= user._id %>"
                                                                        class="underline link-warning">Suspend</a>
                                                                </td>
                                                                <% } %>
                                                <% } %>

                                        </tr>
                                        <% }) %>
                                </tbody>
                    </table>
                </div>

            </div>
            <%- include('../partials/_footer.ejs') %>


    </body>

    </html>